/*--Reset--*/

* { margin:0; padding:0; }
			
ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

/*--End Reset--*/

body {
	background: #274A71 url('../Images/bodyTexture.png') no-repeat center 0;			
	font-family: Times New Roman,serif;
}

.hidden { display:none; }

#footer {
	min-height:100px;
	width:100%;
	background: #636262 url('../Images/footer2.png') repeat-x;
	margin-top:20px;
}

h1, h2, h3, h4, h5
{
    color:#0f4d86;
    font-family: helvetica,arial,sans-serif;
}


/*--Main--*/

#main {
	padding-bottom:53px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	width:940px;
    margin-top:30px;	
}
	/*--Primary Content--*/

	#main #content_top {
		overflow:hidden;
		width:942px;
		height:16px;
		background: transparent url('../Images/Main_Top.png') no-repeat center top;
	}

	#main #content {
		width:900px;
		background: #b2b2b2 url('../Images/Main.jpg') repeat-x center top;
		border-right: solid 1px black;
		border-left: solid 1px black;
		padding: 15px 20px 0 20px;
		position:relative;
		min-height: 250px;
		height: auto !important;
		height:250px;
	}	
	
		#content h2
		{
			color:#444;
			text-shadow: 1px 1px #fff;
			font-size:26px;
		}
		
		#content h2.motto
		{
		    font-size:22px;
		}
		
		#content h2 span.brick
		{
			color:#000;
			font-size:25px;
		}
		
		#content h2 span.money
		{
			color:#2B6D26;
		}
	
		#content h1.tagLine 
		{
			text-indent: -99999px;
			background: transparent url('../Images/tagline.png') no-repeat;
			width:580px;
			height: 40px;
		}
		
		#content a.samples
		{
			position:absolute;
			bottom:-50px;
			margin-left:50px;
		}
		
		#content a.samples img
		{
			border: solid 0 black;
		}
		
		#content img.brick
		{
			position:absolute;
			bottom:-110px;
			right:30px;
		}
		
		#content hr.rule
		{
			color:White;
			width:580px;
			margin-top:5px;
			margin-bottom:20px;
			float:left;
		}
		
		#content span.name
		{
			font-family: Arial, Helvetica, sans-serif;
			color: #800000;
			font-style: italic;
		}
		
		#slideshow 
		{
		    height:443px;
		    width:442px;
		    background: transparent url('../Images/slideshowHolder.png') no-repeat;
		    float:left;
		}
		
		#slideshow .image
		{
		    height:300px;
		    width:400px;
		    overflow:hidden;
		    margin: 0 auto;
		    padding: 15px 0 0 0;
		}
		
		#slideshow .controls
		{
		    margin:0 auto;
		    width:400px;
		    margin-top:10px;
		}
		
		    .controls .control
            {
                height: 105px;
                width: 130px;
                float: left;
                color: #ddd;
                text-align:center;
                font-size: 4em;             
            }
            
            .controls .inactive
            {
                background: url('../Images/sampleInactive.png') no-repeat center bottom;
                cursor:pointer;
            }
            
            .controls .active
            {                
                background: url('../Images/sampleActive.png') no-repeat center bottom;               
                cursor:default;
            }
            
            .control div
            {
                margin-top:28px;
                text-shadow: 1px 1px #444;
            }
            
            .controls #image2
            {
                margin: 0 5px 0 5px;
            }
            
        #info
        {
            float:left;
            margin-left:20px;
            width:400px;
        }        
        
        #info h1
        {
            font-size: 3.5em;
            background-color: #cccccc;
            color: #323232;
            width:auto;
        }
        
        #info p
        {
            margin-top:10px;
            font-size: 1.3em;
        }
        
        #info .options
        {
            margin-top:10px;
        }
        
        #info .options .option
        {
            float:left;
            width:260px;
            padding-top:5px;
        }
        
        #info .options .action
        {
            float:right;
            width: 122px;
            height:50px;
            text-indent:-99999px;
            cursor:pointer;
        }
        
        #info .action.map
        {
            background: url('../Images/MapIt.png') no-repeat;
        }
        
        #info .action.email
        {
            background: url('../Images/AskUs.png') no-repeat;
        }
            
        #samples
        {
            height:135px;
            padding-top:15px;
            margin-bottom:10px;
        }
            
        #samples .sample
        {
            width: 110px;
            text-align: center;
            float: left;
            color:#ddd;
            padding-top:15px;
            padding-bottom:15px;
            margin-right:10px;
            margin-left:10px;
            height:100px;      
            cursor:pointer;     
        }
        
        #samples .selected
        {            
            -moz-border-radius:10px; 
            background: rgba(26,36,40,.7);
        }
        
        #samples .sample img
        {
            width:64px;
        }
        
        #samples .sampleInfo h4
        {
            color:#b9dbff;
        }        

	#main #content_bottom {
		width:942px;
		height: 16px;
		background: transparent url('../Images/Main_Bottom.png') no-repeat center bottom;
	}	
	
	/*--End Primary Content--*/	

/*--End Main--*/	

/*--Header--*/

#header {			
	height: 100px;
	width: 940px;
	margin: 0 auto;
}	

	/*--Logo--*/
	
	#header h1 a.logo
	{
		position:absolute;
		background: transparent url('../Images/Logo_Bright.png') no-repeat;
		height:91px;
		width:186px;
		text-indent: -99999px;
		margin-top:10px;
	}
	
	/*--End Logo--*/
	
	/*--Navigation--*/

	#header #nav {
		float:right;
		display:block;
		overflow:hidden;
		margin: 65px 20px 0 0;
	}

	#header #nav li {
		float:left;
		margin-left:5px;
	}

	#header #nav li a {
		background-position: left top;
		background-repeat: no-repeat;
		display: block;
		height:30px;
		text-indent: -99999px;
	}

	#header #nav li.home a {
		background-image: url('../Images/Home.png');
		width:59px;
	}

	#header #nav li.products a {
		background-image: url('../Images/Products.png');
		width:77px;
	}

	#header #nav li.work a {
		background-image: url('../Images/Work.png');
		width:82px;
	}

	#header #nav li.contact a {
		background-image: url('../Images/Contact.png');
		width:71px;
	}
	
	#header #nav li.links a {
		background-image: url('../Images/Links.png');
		width:59px;
	}

	#header #nav li a:hover, #header #nav li a.active {
		background-position: left bottom;
	}

	/*--End Navigation--*/
	
/*--End Header--*/

/*--Secondary--*/

#secondary_content
{
	margin-top:120px;
	color:#98cae7;
	text-shadow: 1px 1px #000;
}
	/*--Our Work--*/
	#secondary_content #ourWork
	{
	}

	#secondary_content #ourWork h2 
	{
		text-indent: -99999px;
		background-image: url('../Images/OurWork.png') ;
		width:127px;
		height:25px;
	}

	#secondary_content #ourWork i
	{
		font-size: 13px;
		color: #FFFF66;
	}

	#secondary_content #ourWork a.thumb 
	{
		background-image: url('../Images/WorkDemo.png');
		height:79px;
		width:77px;
		float:left;
		margin-top:10px;
		margin-right:10px;
	}
	
	#secondary_content #ourWork a.thumb:hover
	{
	    opacity: .7;
	}
	
	/*--End Our Work--*/
	
	/*--About--*/
	
	#about h2
	{
		text-indent:-99999px;
		background-image:url('../Images/TrinityBrick.png');
		width:163px;
		height:31px;
		margin-bottom:10px;
	}
	
	#about p
	{
		font-size:18px;
		padding-right:10px;
	}
	
	/*--End About--*/
	
	/*--Contact--*/
	
	#contact h2
	{
		text-indent:-99999px;
		background-image:url('../Images/ComeSeeUs.png');
		width:170px;
		height:24px;
		margin-bottom:10px;
	}
	
	#contact #location h3
	{
		text-indent:-99999px;
		background-image:url('../Images/Location.png');
		width:83px;
		height:17px;
		margin-bottom:10px;
	}
	
	#contact #location .address
	{
		display:block;
		font-size:18px;
		margin-left:10px;
	}
	
	#contact #location a, #contact #phone a.phone
	{
		color:#FFFF66;
		margin-bottom:10px;
	}
	
	#contact #phone h3
	{
		text-indent:-99999px;
		background-image:url('../Images/Phone.png');
		width:63px;
		height:18px;
	}
	
	#contact #phone .phone
	{
		font-size: 18px;
		margin-left: 10px;
		display: block;
		color:#B2EDE1;
	}
	
	#contact #phone .phoneTitle
	{
		font-size:18px;
		margin:10px 0 0 10px;
		display:block;
		font-style:italic;
	}
	
	#contact #phone a
	{
		color:#FFFF66;
		margin-top:20px;
	}
	
	.contact
	{
	    float:left;
	}
	
	.contact span
	{
	    display:block;
	    margin-left:10px;
	}
	
	.contact .phone
	{
	    background:transparent url('../Images/phoneIcon.png') no-repeat;
	    padding-left:30px;
	    height:26px;
	    color:#1772c6;
	}
	
	.contact .phoneTitle
	{
	    margin-bottom:7px;
	    margin-top:7px;
	    font-weight:bold;
	    font-size:18px;
	    color:#0f4d86;
	}
	
	/*--End Contact--*/
	
/*--Secondary--*/	

/*--Portfolio--*/

#clients
{
    margin-top:10px;
}

#clients .client
{
    border-color: #DFDFDF;
    text-align: center;
    float: left;
    margin: 0 20px 40px 0;
    background-color: #D0DEEB;
    padding: 10px;
    border:solid 1px #cfcfcf;
    position:relative;
}

#clients .client .shadow
{
    width:391px;
    height:38px;
    background: transparent url('../Images/workShadow.png') no-repeat;
    position:absolute;
    bottom:-34px;    
}

#clients .client img
{
    border: 3px solid #CCCCCC;
    background-color: #fff;
}

#clients h3
{
    font-size:22px;
    color: #666666;
}

/*--end portfolio--*/
/*--contact--*/

#contact_form
{
    background-color: #d0deeb;
    width: 500px;
    padding: 20px;
    color: #444444;
    font-size: 2em;
    font-family: Arial;
    border: solid 1px #636a70;
    float:left;
}

#contact_form .section
{
    float:left;  
    margin-right:20px;  
}

#contact_form .section span
{
    
}

#contact_form .section input
{
    height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #006699;
    display: block;
    border: solid 1px #8f99a2;
}

#contact_form #comments
{
    color: #006699;
    font-size: 20px;
    font-family:Arial;
    display:block;
    border: solid 1px #8f99a2;
}

.divider
{
    height:250px;
    width:0px;
    border-left:solid 1px #fff;
    border-right: solid 1px #666;
    margin-left:20px;
    margin-top:30px;
    float:left;
}

#contact_options
{
    margin-bottom:10px;
}

#contact_options h3
{
    float:left;
    text-align:center;
}

#contact_options .by_email
{
    width:540px;
}

#contact_options .by_phone
{
    width:350px;
}

#contact_form input[type="submit"]
{
    height:58px;
    width:164px;
    background: url('../Images/send.png') no-repeat;
    border:none;
    text-indent: -99999px;
    margin-top:10px;
    cursor:pointer;
}

#success
{
    height:58px;
    width:186px;
    background: url('../Images/success.png') no-repeat;
}
/*end contact*/

/*footer*/

#footer_content
{
    width:960px;
    margin:0 auto;
    padding-top:10px;
}

#footer .design
{
    width:200px;
    margin-top:10px;
    color:#90ffdc;
    font-family:Times New Roman;
    font-size:15px;
}

#footer .design .quip
{
    font-style:italic;
    color:#fff;
}

#footer .design a
{
    text-decoration:none;
    color:#009f6c;
    text-shadow:1px 1px #444;
}

#footer .design a:hover
{
    text-decoration:underline;
}


/*end footer*/