/*--Reset--*/

* { margin:0; padding:0; }
			
ol, ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

/*--End Reset--*/

body {
	background: #5b0000 url('../Images/Background2.jpg') repeat-x;			
}

#footer {
	height:53px;
	width:100%;
	background: #000 url('../Images/footer2.png') repeat-x;
	margin-top:20px;
}


/*--Main--*/

#main {
	padding-top:60px;
	padding-bottom:53px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -53px;
	width:940px;
}
	/*--Primary Content--*/

	#main #content_top {
		overflow:hidden;
		width:942px;
		height:16px;
		background: transparent url('../Images/Main_Top.png') no-repeat center top;
	}

	#main #content {
		width:900px;
		background: #b2b2b2 url('../Images/Main.jpg') repeat-x center top;
		height:250px;
		border-right: solid 1px black;
		border-left: solid 1px black;
		padding: 15px 20px 0 20px;
		position:relative;
	}	
	
		#content h1.tagLine 
		{
			text-indent: -99999px;
			background: transparent url('../Images/tagline.png') no-repeat;
			width:580px;
			height: 40px;
		}
		
		#content a.samples
		{
			position:absolute;
			bottom:-50px;
			margin-left:50px;
		}
		
		#content a.samples img
		{
			border: solid 0 black;
		}
		
		#content img.brick
		{
			position:absolute;
			bottom:-110px;
			right:30px;
		}
		
		#content hr.rule
		{
			color:White;
			width:580px;
			margin-top:5px;
			margin-bottom:20px;
			float:left;
		}
		
		#content span.name
		{
			font-family: Arial, Helvetica, sans-serif;
			color: #800000;
			font-style: italic;
		}


	#main #content_bottom {
		width:942px;
		height: 16px;
		background: transparent url('../Images/Main_Bottom.png') no-repeat center bottom;
	}	
	
	/*--End Primary Content--*/	

/*--End Main--*/	

/*--Header--*/

#header {			
	height: 80px;
	width: 940px;
	margin: 0 auto;
}	

	/*--Logo--*/
	
	#header h1 a.logo
	{
		position:absolute;
		background: transparent url('../Images/Logo.png') no-repeat;
		height:110px;
		width:118px;
		text-indent: -99999px;
	}
	
	/*--End Logo--*/
	
	/*--Navigation--*/

	#header #nav {
		float:right;
		display:block;
		overflow:hidden;
		margin: 40px 20px 0 0;
	}

	#header #nav li {
		float:left;
		margin-left:5px;
	}

	#header #nav li a {
		background-position: left top;
		background-repeat: no-repeat;
		display: block;
		height:30px;
		text-indent: -99999px;
	}

	#header #nav li.home a {
		background-image: url('../Images/Home.png');
		width:60px;
	}

	#header #nav li.products a {
		background-image: url('../Images/Products.png');
		width:75px;
	}

	#header #nav li.work a {
		background-image: url('../Images/Work.png');
		width:80px;
	}

	#header #nav li.contact a {
		background-image: url('../Images/Contact.png');
		width:69px;
	}

	#header #nav li a:hover, #header #nav li a.active {
		background-position: left bottom;
	}

	/*--End Navigation--*/
	
/*--End Header--*/

/*--Secondary--*/

#secondary_content
{
	margin-top:120px;
}
	/*--Our Work--*/
	#secondary_content #ourWork
	{
	}

	#secondary_content #ourWork h2 
	{
		text-indent: -99999px;
		background-image: url('../Images/OurWork.png') ;
		width:127px;
		height:25px;
	}

	#secondary_content #ourWork i
	{
		font-size: 13px;
		color: #FFFF66;
	}

	#secondary_content #ourWork div.thumb 
	{
		background-image: url('../Images/WorkDemo.png');
		height:75px;
		width:75px;
		float:left;
		margin-top:10px;
		margin-right:10px;
	}
	
	/*--End Our Work--*/
	
	/*--About--*/
	
	#about h2
	{
		text-indent:-99999px;
		background-image:url('../Images/TrinityBrick.png');
		width:163px;
		height:31px;
		margin-bottom:10px;
	}
	
	#about p
	{
		font-size:18px;
		padding-right:10px;
	}
	
	/*--End About--*/
	
	/*--Contact--*/
	
	#contact h2
	{
		text-indent:-99999px;
		background-image:url('../Images/ComeSeeUs.png');
		width:170px;
		height:24px;
		margin-bottom:10px;
	}
	
	#contact #location h3
	{
		text-indent:-99999px;
		background-image:url('../Images/Location.png');
		width:83px;
		height:17px;
		margin-bottom:10px;
	}
	
	#contact #location .address
	{
		display:block;
		font-size:18px;
		margin-left:10px;
	}
	
	#contact #location a
	{
		color:#FFFF66;
		margin-bottom:10px;
	}
	
	#contact #phone h3
	{
		text-indent:-99999px;
		background-image:url('../Images/Phone.png');
		width:63px;
		height:18px;
	}
	
	#contact #phone .phone
	{
		font-size: 18px;
		margin-left: 10px;
		display: block;
	}
	
	#contact #phone .phoneTitle
	{
		font-size:18px;
		margin:10px 0 0 10px;
		display:block;
		font-style:italic;
	}
	
	#contact #phone a
	{
		color:#FFFF66;
		margin-top:10px;
	}
	
	/*--End Contact--*/
	
/*--Secondary--*/	